:root {
  --color-primary-1: white;
  --color-primary-2: #fefbea;
  --color-accent-1: #fec87b;
  --color-accent-2: #303030;

  --font-heading: "Gloock", serif;
  --font-body: "Poppins", sans-serif;

  --font-size-heading-1: 28px;
  --font-size-heading-2: 48px;
}

.procurement-container {
  display: flex;
  min-height: 100vh;
  background-color: #fffadd;
  background: radial-gradient(
    circle 45rem at 90% 70%,
    var(--color-accent-1),
    transparent 60%
  );
}

.procurement-main {
  flex: 1;
  padding: 20px;
  margin-top: 35px;
  margin-left: 0;
}

.procurement-header {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background: transparent;
  border-bottom: none;
  z-index: 1000;
  width: calc(100% - 240px);
}

.procurement-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  margin-left: 70px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-pfp {
  color: var(--color-accent-2);
  font-size: 30px;
  margin-right: 12px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  color: #1e1e1e;
}

.user-id {
  font-size: 12px;
  color: #666;
}

.procurement-title {
  font-family: var(--font-heading);
  font-size: 48px;
}

.procurement-cards {
  display: flex; /* enable flexbox */
  flex-wrap: wrap; /* allow wrapping if too many cards */
  gap: 20px; /* space between cards */
}

.procurement-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.procurement-img {
  max-width: 100%;
  max-height: 120px;
  object-fit: contain;
}

.procurement-product-name {
  font-weight: 600;
}

.procurement-distributor {
  font-size: 0.8rem;
  opacity: 0.8;
}

.procurement-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.procurement-actions__amount {
  display: flex;
  flex-direction: row;
}

.procurement-actions__amount--ctr {
  text-align: center;
  width: 20px;
  background-color: #d9d9d9;
}

.procurement-actions__amount--minus,
.procurement-actions__amount--add {
  font-size: 10px;
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
}

.procurement-actions__amount--minus:hover,
.procurement-actions__amount--add:hover {
  background-color: var(--color-accent-1);
  border: none;
}

.procurement-actions__buy {
  background-color: var(--color-accent-1);
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.procurement-actions__buy:hover {
  background: #f5a842;
  transform: translateY(-1px);
}
