:root {
  --color-primary-1: white;
  --color-primary-2: #fefbea;
  --color-accent-1: #fec87b;
  --color-accent-2: #303030;

  --font-heading: "Gloock", serif;
  --font-body: "Poppins", sans-serif;

  --font-size-heading-1: 28px;
  --font-size-heading-2: 48px;
}

.procurement-container {
  display: flex;
  min-height: 100vh;
  background-color: #fffadd;
  background: radial-gradient(
    circle 45rem at 90% 70%,
    var(--color-accent-1),
    transparent 60%
  );
}

.procurement-main {
  flex: 1;
  padding: 20px;
  margin-top: 35px;
  margin-left: 0;
}

.procurement-header {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background: transparent;
  border-bottom: none;
  z-index: 1000;
  width: calc(100% - 240px);
}

.procurement-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  margin-left: 70px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-pfp {
  color: var(--color-accent-2);
  font-size: 30px;
  margin-right: 12px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  color: #1e1e1e;
}

.user-id {
  font-size: 12px;
  color: #666;
}

.procurement-title {
  font-family: var(--font-heading);
  font-size: 48px;
}

/* .procurement-card {
  width: 700px;
  height: 600px;
  border-radius: 20px;
  background-color: var(--color-primary-1);
  opacity: 0.9;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */

.procurement-card {
  width: 700px;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--color-primary-1);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  gap: 5px;
}

.form-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #303030;
}

.product-group {
  flex: 3;
}

.qty-group {
  flex: 1;
}

.form-select,
.form-input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #fff;
}

.add-btn {
  background-color: var(--color-accent-1);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-start;
}

.add-btn:hover {
  background-color: #f5a842;
}

.form-submit {
  display: flex;
  justify-content: flex-end;
}

.submit-btn {
  background-color: var(--color-accent-1);
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.submit-btn:hover {
  background-color: #f5a842;
}
